# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable man': 'man:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'man'
      'submenu': [
        { 'label': 'Toggle', 'command': 'man:toggle' }
      ]
    ]
  }
]
